<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form action="/tags" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />


  <div class="field">
    Editing as: <%= current_user.first_name %><br>

  </div>
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.collection_select(:tag_id, @tags, :id, :title, :include_blank => 'Please select') %>
    <%= link_to 'New Category', '/tags/new' %> </div>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
