<p id="notice"><%= notice %></p>
<% if current_user %>
  <div class="name"> You are logged in as: <%= current_user.first_name %></div>
  <div class="logout"> <%= link_to 'Log Out', '/logout' %> </div>
  <div class="home"><%= link_to 'Home', '/' %> </div>
  <div class="directory"><%= link_to 'Directory', 'users' %> </div>
  <h1>Editing Tag</h1>

  <%= render 'form' %>
  <% else %>
    <div class="home"><%= link_to 'Home', '/' %> </div>
    <br></br>
    <h1>Please log in or sign up</h1>
    <br></br>
    <div class="login_page">
      <h3>Login In</h3>
    <form action="/login" method="post" class="login_page">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div>
        <lable for="email">Email:</label>
        <input name="email" type="text" />
      </div>
      <div>
        <lable for="password">Password:</label>
        <input name="password" type="password" />
      </div>
      <div>
        <input type="submit" />
      </div>
    </form>
    </div>
    <br></br>
    <h3>Sign Up </h3>
    <%= link_to 'New User', new_user_path %>
    <br></br>
    <br></br>
  <% end %>





  <%= link_to 'Back', articles_path %>
