<p id="notice"><%= notice %></p>
<% if current_user %>
<div class="background">
  <div class="name"> You are logged in as: <%= link_to(current_user.first_name, user_path(current_user)) %></div>
  <div class="logout"> <%= link_to 'Log Out', '/logout' %> </div>
  <div class="title">
    <div class="welcome">
      <h1>LIC Hub: Create New Tag</h1>
    </div>
    <div class="description">
      <h3>(a collaboration of both neighborhood facts and opinions)</h3>
    </div>
  </div>
  <div class="nav_strip">
    <div class="nav_link">
      <li class="link"><%= link_to 'Home', '/' %></li>
      <li class="link"><%= link_to 'Directory', '/users' %> </li>
      <li class="link"><%= link_to 'Articles', '/articles' %></li>
      <li class="link"><%= link_to 'About Us', '/about_us' %></li>
    </div>
  </div>
  <div class="body_form_container">
    <div class="body_title">
      <h4>New Tag Form:</h4>
    </div>
    <div class="body_form">
      <div class="current_tags">
        <h3>Current Tags</h3>
        <% @tags.each do |tag| %>
            <li><%= "#{tag.title}" %></li>
            <%end%>
      </div>
      <br></br>
      <div> <%= render 'form' %></div>
    </div>
  </div>
</div>
<% else %>
<div class="background">
  <div class="login">
    <div class="new_user">
      <%= link_to 'New User', new_user_path %>
    </div>
    <form action="/login" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div>
        <lable for="email">Email:</label>
        <input name="email" type="text" />
      </div>
      <div>
        <lable for="password">Password:</label>
        <input name="password" type="password" />
      </div>
      <div>
        <input type="submit" />
      </div>
    </form>
  </div>
    <div class="title">
      <div class="welcome">
        <h1>Welcome to LIC Hub!</h1>
      </div>
      <div class="description">
        <h3>(a collaboration of both neighborhood facts and opinions)</h3>
      </div>
    </div>
    <div class="nav_strip">
      <div class="nav_link">
        <li class="link"><%= link_to 'Home', '/' %> </li>
        <li class="link"> <%= link_to 'The Hood', '/the_hood' %></li>
        <li class="link"><%= link_to 'Articles', '/articles' %></li>
        <li class="link"><%= link_to 'About Us', '/about_us' %></li>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Create Article', new_article_path %>
